<div id="" #particpantContainer>
    <div class="participantotm" #selfStreamParent>
        <div class="participant-stream" #selfStream>
            <!-- <app-activity-indicator *ngIf="isInitializing" [message]='"Loading preview... Please wait."'>
            </app-activity-indicator> -->
            <!-- <div class="centered" style="font-weight: 700; font-size: large;" *ngIf="isParticipantConnectionLost">Reconnecting</div>
            <div class="centered" style="font-weight: 700; font-size: large;" *ngIf="!isParticipantConnected">Connecting</div> -->
        </div>
        <div class="participant-detail">
            <span class="participant-name">
                You
            </span>
            <span class="mic-icon">
                <i id="selfStreamMicIcon" class="fa fa-microphone"></i>
            </span>
        </div>
    </div>
</div>
